USE [master]
GO
/****** Object:  Database [A744C2D5CEF13A6474604835F3B6328A_C#\PRACTICA LAVORATORIO\24 EJEM_MANTENIMIENTO_PERSONAS\EJEM_MANTENIMIENTO_PERSONAS\CLIENTES.MDF]    Script Date: 08/07/2018 12:57:07 a. m. ******/
CREATE DATABASE [A744C2D5CEF13A6474604835F3B6328A_C#\PRACTICA LAVORATORIO\24 EJEM_MANTENIMIENTO_PERSONAS\EJEM_MANTENIMIENTO_PERSONAS\CLIENTES.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clientes', FILENAME = N'E:\Cursos\Desarrollo Profesional\Programacion en C#\C#\Practica Lavoratorio\24 Ejem_Mantenimiento_Personas\Ejem_Mantenimiento_Personas\Clientes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clientes_log', FILENAME = N'E:\Cursos\Desarrollo Profesional\Programacion en C#\C#\Practica Lavoratorio\24 Ejem_Mantenimiento_Personas\Ejem_Mantenimiento_Personas\Clientes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A744C2D5CEF13A6474604835F3B6328A_C#\PRACTICA LAVORATORIO\24 EJEM_MANTENIMIENTO_PERSONAS\EJEM_MANTENIMIENTO_PERSONAS\CLIENTES.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A744C2D5CEF13A6474604835F3B6328A_C#\PRACTICA LAVORATORIO\24 EJEM_MANTENIMIENTO_PERSONAS\EJEM_MANTENIMIENTO_PERSONAS\CLIENTES.MDF]
GO
USE [A744C2D5CEF13A6474604835F3B6328A_C#\PRACTICA LAVORATORIO\24 EJEM_MANTENIMIENTO_PERSONAS\EJEM_MANTENIMIENTO_PERSONAS\CLIENTES.MDF]
GO
/****** Object:  Table [dbo].[TbPersonas]    Script Date: 08/07/2018 12:57:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPersonas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
